extends layout

block css
  link(rel='stylesheet',href='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css')
  style
    .pagination-centered {
      padding-top: 5px;
      margin-bottom: -5px;
    }

block js
  script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(type='text/javascript',src='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js')
  script
    $(function() {
      $("button").on('click',function() {
        $("#config").attr("action",$(this).attr("id"));
      });
      $("#config").submit(function() {
          $("input[name=team]").each(function(i,v) {
            var t = $(this);
            if (t.val() == "") {
              t.val(t.attr("placeholder"));
            }
          });
          $("input[name=refresh]").each(function(i,v) {
            var t = $(this);
            if (t.val() == "") {
              t.val(t.attr("placeholder"));
            }
          });
          $(this).submit();
      });
    });

block content
  .container(style="margin-top:40px;")
    form(id="config",method="get",class="well span3 offset4")
      fieldset
        legend Team 254 Pit Display
        label Team Number
        input(name="team",type="text",placeholder="254")
        label Event
        select(name="event")
          option(value='CMP') FIRST Championship
          option(value='ILIL') Central Illinois Regional
          option(value='SCMB') Palmetto Regional
          option(value='TXSA') Alamo Regional sponsored by Rackspace Hosting
          option(value='') Greater Toronto West Regional
          option(value='CASB') Inland Empire Regional
          option(value='ISTA') Israel Regional
          option(value='ONTO') Greater Toronto East Regional
          option(value='ARFA') Arkansas Regional
          option(value='CASD') San Diego Regional
          option(value='INTH') Crossroads Regional
          option(value='MNDU') Lake Superior Regional
          option(value='') Northern Lights Regional
          option(value='TXLU') Hub City Regional
          option(value='CAMA') Central Valley Regional
          option(value='MXMC') Mexico City Regional
          option(value='CASA') Sacramento Regional
          option(value='FLOR') Orlando Regional
          option(value='MOKC') Greater Kansas City Regional
          option(value='MOSL') St. Louis Regional
          option(value='NCRE') North Carolina Regional
          option(value='NYTR') New York Tech Valley Regional
          option(value='TXDA') Dallas Regional
          option(value='UTWV') Utah Regional
          option(value='ONWA') Waterloo Regional
          option(value='QCMO') Festival de Robotique FRC a Montreal Regional
          option(value='AZCH') Arizona Regional
          option(value='CALB') Los Angeles Regional sponsored by The Roddenberry Foundation
          option(value='INWL') Boilermaker Regional
          option(value='OHCL') Buckeye Regional
          option(value='VARI') Virginia Regional
          option(value='WIMI') Wisconsin Regional
          option(value='ONNB') North Bay Regional
          option(value='GADU') Peachtree Regional
          option(value='HIHO') Hawaii Regional
          option(value='') Minnesota North Star Regional
          option(value='MNMI') Minnesota 10000 Lakes Regional
          option(value='NYLI') SBPLI Long Island Regional
          option(value='NYRO') Finger Lakes Regional
          option(value='OHCI') Queen City Regional
          option(value='OKOK') Oklahoma Regional
          option(value='PAPI') Greater Pittsburgh Regional
          option(value='TNKN') Smoky Mountains Regional
          option(value='DCWA') Greater DC Regional
          option(value='ABCA') Western Canada Regional
          option(value='ONWI') Windsor Essex Great Lakes Regional
          option(value='CASJ') Silicon Valley Regional
          option(value='CODE') Colorado Regional
          option(value='FLFO') South Florida Regional
          option(value='ILCH') Midwest Regional
          option(value='LAKE') Bayou Regional
          option(value='MDBA') Chesapeake Regional
          option(value='NVLV') Las Vegas Regional
          option(value='NYNY') New York City Regional
          option(value='TXHO') Lone Star Regional
          option(value='MICMP') Michigan FRC State Championship
          option(value='MRCMP') Mid-Atlantic Robotics FRC Region Championship
          option(value='NECMP') New England FRC Region Championship
          option(value='PNCMP') Autodesk PNW FRC Championship
          option(value='MICEN') Center Line FIRST Robotics District Competition
          option(value='MISOU') Southfield FIRST Robotics District Competition
          option(value='MIKET') Kettering University FIRST Robotics District Competition
          option(value='MIGUL') Gull Lake FIRST Robotics District Competition
          option(value='MIESC') Escanaba FIRST Robotics District Competition
          option(value='MIHOW') Howell FIRST Robotics District Competition
          option(value='MIWMI') West Michigan FIRST Robotics District Competition
          option(value='MIMID') Great Lakes Bay Region FIRST Robotics District Competition
          option(value='MITVC') Traverse City FIRST Robotics District Competition
          option(value='MILIV') Livonia FIRST Robotics District Competition
          option(value='MISJO') St. Joseph FIRST Robotics District Competition
          option(value='MIWAT') Waterford FIRST Robotics District Competition
          option(value='MILAN') Lansing FIRST Robotics District Competition
          option(value='MIBED') Bedford FIRST Robotics District Competition
          option(value='MITRY') Troy FIRST Robotics District Competition
          option(value='NJFLA') MAR FIRST Robotics Mt. Olive District Competition
          option(value='PAHAT') MAR FIRST Robotics Hatboro-Horsham District Competition
          option(value='PAPHI') MAR FIRST Robotics Springside Chestnut Hill District Competition
          option(value='NJCLI') MAR FIRST Robotics Clifton District Competition
          option(value='NJTAB') MAR FIRST Robotics Lenape-Seneca District Competition
          option(value='NJBRI') MAR FIRST Robotics Bridgewater-Raritan District Competition
          option(value='NHNAS') Granite State District Event
          option(value='NHDUR') UNH District Event
          option(value='CTGRO') Groton District Event
          option(value='MAWOR') WPI District Event
          option(value='RISMI') Rhode Island District Event
          option(value='CTSOU') Southington District Event
          option(value='MABOS') Northeastern University District Event
          option(value='CTHAR') Hartford District Event
          option(value='MELEW') Pine Tree District Event
          option(value='WAAMV') PNW FIRST Robotics Auburn Mountainview District Event
          option(value='ORORE') PNW FIRST Robotics Oregon City District Event
          option(value='WASNO') PNW FIRST Robotics Glacier Peak District Event
          option(value='WACHE') PNW FIRST Robotics Eastern Washington University District Event
          option(value='WAMOU') PNW FIRST Robotics Mt. Vernon District Event
          option(value='ORWIL') PNW FIRST Robotics Wilsonville District Event
          option(value='WASHO') PNW FIRST Robotics Shorewood District Event
          option(value='WAAHS') PNW FIRST Robotics Auburn District Event
          option(value='WAELL') PNW FIRST Robotics Central Washington University District Event
          option(value='OROSU') PNW FIRST Robotics Oregon State University District Event

        label Refresh Time (seconds)
        input(name="refresh",type="text",placeholder="30")
        label (following doesn't affect rankings)
        label.radio Quals
          input(type="radio",name="elims",value="0",checked)
        label.radio Elimination
          input(type="radio",name="elims",value="1")
        div(class="pagination-centered")
          .btn-group
            button(type="submit", class="btn", id="display") Schedule
            button(type="submit", class="btn", id="rank") Rankings
