doctype 5
html
  head
    title yeah buddy
    link(rel='stylesheet',href='style.css')
    block js
    script(type='text/javascript',src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript',src='script.js')
  body
    block content
