html, tbody {
  font-size: 1em;
}
a {color:#0D309B;}      /* unvisited link */
a:visited {color:#0D309B;}  /* visited link */
a:hover {color:#0D309B;}  /* mouse over link */
a:active {color:#0D309B;}
body {
  background: #fff;
  font-family: helvetica, arial, verdana, sans-serif;
  color: white;
  margin: 0px !important;
}
h1 {
  text-align: center;
}
table {
  width: 100%;
}
.mainTable {
  border-spacing: 10px 15px;
  height: 100px;
}
.matchRow {
  padding: 8px;
}
.match, .red, .blue, .outcome, .rank, .record{
  padding: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
}
.match {
  width: 10%;
  background: #888;
  font-weight: bold;
}

.rank {
  width: 10%;
  background: #888;
}

.record {
  width: 27%;
  background: #888;
}

.myRow {
  background: #0D309B;
}

.red {
  background: #FB6D6D;
  width: 27%;
}
.blue {
  background: #6D90FB;
  width: 27%;
}
.outcome {
  width: 28%;
  background: #888;
}
.cp {
  width: 28%;
  background: #888;
}
.oneTeam{
  width: 33%;
  text-align: center;
}
.myTeam{
  font-weight: bolder;
}
.myred {
  background: #9B0D0D;
}
.myblue {
  background: #0D309B;
}
#countdown {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background: #888;
  padding: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
}
